celery:
  remove_key_data:
    retries: 10
    timeout: 5

  transmit_gcm_id:
    retries: 10
    timeout: 5

db:
  host: localhost
  port: 5432
  user: meg
  password: meg
  database: meg

# User will need to fill this in themselves
gcm_api_key: ""

keyservers:
  - http://localhost:5000

logging:
  version: 1
  formatters:
    default:
      format: '%(asctime)s - %(levelname)s - %(message)s'
      datefmt: '%Y%m%d'
  handlers:
    console:
      class: 'logging.StreamHandler'
      level: 'DEBUG'
      formatter: 'default'
      stream: 'ext://sys.stdout'
  loggers:
    root:
      handlers:
        - console
      level: INFO
      propagate: false
    celery:
      handlers:
        - console
      level: INFO
      propagate: false

meg_url_prefix: ""

# The hostname we will call meg at
megserver_hostname_url: http://localhost

revocation:
  ttl: 360

# User will need to fill this in themselves
sendgrid:
  api_key: XXX
  from_email: noreply@meg.com
  subject: MEG Key Revocation Confirmation

# Something something 6 degress of separation
wot_bfs_max_depth: 6
